<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1>
                <$= title %>
            </h1>
        </div>
    </div>
    <div class="">
        <form action="/proveAssignments/03/admin/<% if (editing) { %>edit-item<% } else { %>add-item<% } %>"
            method="POST" class="product-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title"
                    value="<% if (editing) { %><%= item.title %><% } else { %><% } %>">

            </div>
            <div class="form-group">
                <label for="imgURL">Image URL</label>
                <input class="form-control" type="text" name="imgURL" id="imgURL"
                    value="<% if (editing) { %><%= item.imgURL %><% } else { %><% } %>">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price"
                    value="<% if (editing) { %><%= item.price %><% } else { %><% } %>">

            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" type="text" id="description" rows="5"
                    class="form-control"><% if (editing) { %><%= item.description %><% } else { %><% } %></textarea>

            </div>
            <% if (editing) { %>
            <input type="hidden" class="form-control" name="sku" id="sku" value="<%= item.sku %>">
            <% } %>
            <div class="form-group">
                <button class="btn btn-default" type="submit"><% if (editing) { %>Update Item<% } else { %> Add
                    Item<% } %></button>

            </div>
        </form>
    </div>
</body>

</html>